
<div class="container" id="container">
    <h1>Game</h1>
    Dein Name: <input type="text" class="name" /> <br>
    Dein Wort: <input type="text" class="word" /> <span class="ratender hide">Du darfst raten!</span><span class="nicht-ratender"><button class="btn btn-primary ready">Ich bin bereit!</button><button class="btn btn-danger hide unready">Ich bin doch nicht mehr bereit</button></span><br>

    <h3>Mitspieler-Liste</h3>
    <p>Die ratende Person durch Klicken auf die Buttons auswählen</p>

    <div class="userlist">

    </div>

    <div class="messages"></div>
    <button class="btn btn-primary hide lets-go">Runde starten</button>

    <br><br>

    <div class="the-word-wrapper hide">Das Wort für diese Runde lautet ...</div>
    <h2 class="the-word hide"></h2>

    <button class="btn hide restart">Neue Runde starten</button>
</div>

<script type="text/javascript" src="js/bundle.js"></script>