$gold: #9F8F69;
$lightGold: #dbb96f;
$darkGold: #887242;
$grayish: #F5EAD1;
$neutralText: #A2A2A2;
$darkGray: #262626;
$boxBackground: #1A1A18;
$joinBackground: #2C2121;
$boxRadius: 5px;
$font-family-base: 'Montserrat Alternates', sans-serif;
$font-family-monospace: 'Poiret One', cursive;

@import "bootstrap";
@import "loading";

@import "scaffold";
@import "buttons";
@import "prepare";
@import "round-running";
@import "votes-result";






